<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.7.1" targetFramework="net472" />
  <package id="SQLProvider" version="1.1.84" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="WebSharper" version="4.6.1.381" targetFramework="net472" />
  <package id="WebSharper.Charting" version="4.6.0.255" targetFramework="net472" />
  <package id="WebSharper.ChartJs" version="4.6.0.161" targetFramework="net472" />
  <package id="WebSharper.FSharp" version="4.6.1.381" targetFramework="net472" />
  <package id="WebSharper.Reactive" version="4.6.0.150" targetFramework="net472" />
  <package id="WebSharper.UI" version="4.6.1.207" targetFramework="net472" />
</packages>